<%= form_for @task_type , :html => { :class => "form-horizontal" } do |f| %>
  <% if @task_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_type.errors.count, "error") %> prohibited this task_type from being saved:</h2>

      <ul>
      <% @task_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
  <%= f.label :name, "Nom" , :class => "col-lg-2 col-sm-2 control-label"  %>
  <div class="col-lg-6">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, "Description" , :class => "col-lg-2 col-sm-2 control-label"  %>
  <div class="col-lg-6">
    <%= f.text_area :description, :class => "form-control" %>
  </div>
</div>

<div class="actions text-center">
  <%= f.submit "Envoyer" , :class => "btn btn-success" %>
</div>

<% end %>
