<section class="panel">
  <header class="panel-heading">
    Liste des types de tâche
  </header>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% @task_types.each do |task_type| %>
          <tr>
            <td><%= task_type.name %></td>
            <td><%= task_type.description %></td>
            <td><%= link_to 'Voir', task_type %></td>
            <td><%= link_to 'Modifier', edit_task_type_path(task_type) %></td>
            <td><%= link_to 'Supprimer', task_type, method: :delete, data: { confirm: 'Etes vous sûr ? ' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  <div class="panel-body">  
    <%= link_to "Ajouter un type de tache", new_task_type_path, :class => "btn btn-primary pull-right" %> 
  </div>
</section>