<!-- page start-->

<div class="row">
    <%= render 'user_info' %> 
    <aside class="profile-info col-lg-9">
      <section class="panel">
        <header class="panel-heading">
          Biographie
        </header>
          <div class="panel-body bio-graph-info">
              <div class="row">
                  <div class="bio-row">
                      <p><span>Prénom</span> <%= @employee.firstname %> </p>
                  </div>
                  <div class="bio-row">
                      <p><span>Nom</span> <%= @employee.name %> </p>
                  </div>
                  <div class="bio-row">
                      <p><span>Pays </span> <%= @employee.country %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Fonction </span> <%= @employee.function %> </p>
                  </div>
                  <div class="bio-row">
                      <p><span>Ville</span> <%= @employee.zip %>  <%= @employee.city%></p>
                  </div>
                  <div class="bio-row">
                      <p><span>E-mail </span> <%= @employee.email %></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Adresse </span> <%= @employee.address %> </p>
                  </div>
                  <div class="bio-row">
                      <p><span>Mobile </span> <%= @employee.phone %> </p>
                  </div>
              </div>
          </div>
      </section>
    </aside>
  </div>
