<%= form_for(resource, :html => {:class => "form-signin"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<h2 class="form-signin-heading">Identifiez-vous</h2>
	<br>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>


	<div id="login_logo">
		<%= image_tag("logo_trans.png") %>
	</div>

	<div class="login-wrap">
	    <%= devise_error_messages! %>
	    <%= f.email_field :email, :placeholder => "Adresse e-mail", :class =>"form-control", :autofocus => true %>

	    <%= f.password_field :password, :placeholder => "Mot de passe", :class =>"form-control" %>
	    
	    <label class="checkbox">

	    	<% if devise_mapping.rememberable? -%>
			    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Se souvenir de moi" %></div>
			<% end -%>

			<div id="forgot_pass" class="pull-right">
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
				  <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
				<% end -%>
			</div>

	    </label>
	    
	    <div><%= f.submit "Connectez vous", :class => "btn btn-lg btn-login btn-block" %></div>

	</div>
<% end %>
