<%= form_for [@project, @activity] do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nom" %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :beginDate, "Date de début" %><br>
     <%= f.date_select :beginDate, {:use_month_names => [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)]} %>
  </div>

  <div class="field">
    <%= f.label :ref , "Ref" %><br>
    <%= f.number_field :ref %>
  </div>
  
  <div class="actions">
   <%= f.submit "Envoyer" , :class => "btn btn-success" %>
</div>
<% end %>
