<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Begindate:</strong>
  <%= @activity.beginDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @activity.endDate %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @activity.ref %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
